{% load static %}
<section class="content-box box-style-1 box-4">
    <div class="zerogrid" style="width: 100%">
        <div class="wrap-box">
            <div class="row">
                <article>
                    <div class="col-1-2">
                        <img src="{% static 'images/slide1.jpg' %}" alt="">
                    </div>
                    <div class="col-1-2">
                        <div class="entry-content t-center">
                            <h3>The title on the article</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis
                                auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum
                                vulputate est sed faucibus.consectetur adipiscing elit. Aliquam viverra convallis
                                auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia.</p>
                            <a class="button" href="single.html">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article>
                    <div class="col-1-2 f-right">
                        <img src="{% static 'images/slide2.jpg' %}" alt="">
                    </div>
                    <div class="col-1-2">
                        <div class="entry-content t-center">
                            <h3>The title on the article</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis
                                auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum
                                vulputate est sed faucibus.consectetur adipiscing elit. Aliquam viverra convallis
                                auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia.</p>
                            <a class="button" href="single.html">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="row">
                <article>
                    <div class="col-1-2">
                        <img src="{% static 'images/slide3.jpg' %}" alt="">
                    </div>
                    <div class="col-1-2">
                        <div class="entry-content t-center">
                            <h3>The title on the article</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis
                                auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum
                                vulputate est sed faucibus.consectetur adipiscing elit. Aliquam viverra convallis
                                auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia.</p>
                            <a class="button" href="single.html">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>