{% load static %}
<section class="content-box box-style-1 box-2">
    <div class="zerogrid">
        <div class="wrap-box">
            <div class="row">
                {% for element in galleries %}
                    <div class="col-1-3">
                        <div class="wrap-col">
                            <article>
                                <div class="post-thumbnail-wrap">
                                    <a href="single.html" class="portfolio-box">
                                        <img src="{% static element.image_1 %}" alt="">
                                        <div class="portfolio-box-second">
                                            <img src="{% static element.image_2 %}" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="entry-header ">
                                    <h3 class="entry-title">{{ element.title }}</h3>
                                    <div class="l-tags"><a href="#">{{ element.tag_1 }}</a> / <a href="#">{{ element.tag_2 }}</a></div>
                                </div>
                            </article>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>