<div id="contact_form">
    <form name="form1" id="ff" method="post" action="{% url 'contact_page' %}">
        {% csrf_token %}
        <label class="row">
            <div class="col-1-3">
                <div class="wrap-col">
                    {{ cform.name }}
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    {{ cform.email }}
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    {{ cform.subject }}
                </div>
            </div>
        </label>
        <label class="row">
            <div class="wrap-col">
                {{ cform.message.label }}
                {{ cform.message }}
            </div>
        </label>
        <center><input class="sendButton" type="submit" name="submitcontact" value="Submit"></center>
    </form>
</div>
