<div id="contact_form">
    <form name="form1" id="ff" method="post" action="{% url 'get_in_touch_page' %}">
        {% csrf_token %}
        <label class="row">
            <div class="col-1-3">
                <div class="wrap-col">
                    <input type="text" name="name" id="name" placeholder="Enter name" required="required"/>
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    <input type="email" name="email" id="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Enter email" required="required"/>
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    <input type="text" name="subject" id="subject" placeholder="Subject" required="required"/>
                </div>
            </div>
        </label>
        <label class="row">
            <div class="wrap-col">
                <textarea name="message" id="message" class="form-control" rows="4" cols="25" required="required"
                          placeholder="Message"></textarea>
            </div>
        </label>
        <center><input class="sendButton" type="submit" name="submitcontact" value="Submit"></center>
    </form>
</div>
